
@{
    ViewData["Title"] = "Error500";
}

<h1>Oops!</h1>

<p>@ViewBag.ErrorMessage</p>

@if (!string.IsNullOrEmpty(ViewBag.RouteOfException))
{
    <p>Original route: @ViewBag.RouteOfException</p>
}

